*{
    margin: 0;
    padding: 0;
    /* height: 40vh;
    width: 40vw; */
}
div{
    background-color: red;
    height: 60vh;
    width: 60vh;
    border: 2px solid red;
    border-radius: 50%;
    margin: auto;
    margin-top: 20vh;
    margin-bottom: 20vh;
    /* margin: 35vh 45vw 35vh 45vw; */
    /* margin: auto; hor center lata hai  */

    box-sizing: border-box;
}