.con{
    background-color: aquamarine;
    height: 20vh;
}
.d{
    height: 20vw;
    width: 20vh;
    background-color: aqua;
    display: inline-block;
}
.s{
    position: relative;
    top: 20px;
    left: 10px;
    background-color: #0ad;
    z-index: 3;
}
.t{
    position: relative;
    z-index:3;
    
}