body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: black; */
}
#root{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.change{
    background-color: beige;
    height: 200px;
    width: 300px;
    text-align: center;
}