*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    background-color: wheat;
    font-size: 4rem;
}
body{
    height: 100vh;
    width: 100vw;
}
.main{
    padding: 20px;
    height: 100%;
    background-color: grey;
    display: grid;
    gap: 10px;
    justify-content: center;
    grid-template-columns:repeat(auto-fill, minmax(100px,200px));

}
